<?xml version='1.0' encoding='utf-8'?>
<plugin id="easton-plugin-download" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>download</name>
    <js-module name="download" src="www/download.js">
        <clobbers target="cordova.download" />
    </js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="download">
				<param name="android-package" value="chiefdownload.DownloadPlugin" />
			</feature>
		</config-file>
		   <config-file target="AndroidManifest.xml" parent="/manifest">
           <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
		<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
  <uses-permission android:name="android.permission.VIBRATE"/>
        </config-file>
			<config-file target="AndroidManifest.xml" parent="/manifest/application">
			 <service android:name="chiefdownload.UpdateService"></service>
			   <provider
      android:authorities="com.chief.store.provider"
      android:exported="false"
      android:grantUriPermissions="true"
      android:name="android.support.v4.content.FileProvider">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
        android:resource="@xml/provider_paths" />
    </provider>
    

		</config-file>
		<source-file src="src/android/java/UpdateService.java" target-dir="app/src/main/java/chiefdownload" />
		<source-file src="src/android/java/DownloadPlugin.java" target-dir="app/src/main/java/chiefdownload" />
		<source-file src="src/android/java/FileUtil.java" target-dir="app/src/main/java/chiefdownload" />
		<source-file src="src/android/java/VersionUtils.java" target-dir="app/src/main/java/chiefdownload" />
	<resource-file src="src/android/layout/provider_paths.xml" target="res/xml" />
	

	
		<framework src="src/android/download.gradle" custom="true" type="gradleReference" />
	</platform>
	 <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="download">
                <param name="ios-package" value="download" />
            </feature>
        </config-file>
      
        <header-file src="src/ios/download.h" />
        <source-file src="src/ios/download.m" />
    </platform>
</plugin>
